<nav class="light-blue lighten-1" role="navigation"></nav>
<nav class="light-blue lighten-1 nav_fixed" role="navigation">
    <div class="nav-wrapper container">
        <a id="logo-container" class="brand-logo" href="{{ "/" | relative_url }}">FUCKGFW</a>
        <ul class="right hide-on-med-and-down">
            <li class="nav_dropdown"><a href="{{ "/" | relative_url }}">首页</a></li>
            <li class="nav_dropdown">
                <a>服务器</a>
                {% for tag in site.tags %}
                    {% if tag[0] == "server" %}
                        <ul class="nav_dropdown_content light-blue lighten-1">
                            {% for post in tag[1]  reversed %}
                                <li><a href="{{ post.url | relative_url }}">{{ post.title }}</a></li>
                            {% endfor %}
                        </ul>
                        {% break %}
                    {% endif %}
                {% endfor %}
            </li>
            <li class="nav_dropdown">
                <a>客户端</a>
                {% for tag in site.tags %}
                    {% if tag[0] == "client" %}
                        <ul class="nav_dropdown_content light-blue lighten-1">
                            {% for post in tag[1]  reversed %}
                                <li><a href="{{ post.url | relative_url }}">{{ post.title }}</a></li>
                            {% endfor %}
                        </ul>
                        {% break %}
                    {% endif %}
                {% endfor %}
            </li>
        </ul>
    </div>
</nav>
