<nav class="light-blue lighten-1" role="navigation">
    <div class="nav-wrapper container">
        <a id="logo-container" class="brand-logo" href="{{ "/" | relative_url }}">FUCKGFW</a>
        <ul class="right hide-on-med-and-down">
            <li><a href="{{ "/" | relative_url }}">Home</a></li>
            <li class="nav_dropdown">
                <a>world</a>
                <ul class="nav_dropdown_content blue lighten-1">
                    <li><a>world1</a></li>
                    <li><a>world2</a></li>
                </ul>
            </li>
            <li class="nav_dropdown">
                <a>hello</a>
                <ul class="nav_dropdown_content blue lighten-1">
                    <li><a>hello1</a></li>
                    <li><a>hello2</a></li>
                </ul>
            </li>
            <li class="nav_dropdown">
                <a>hello</a>
                <ul class="nav_dropdown_content blue lighten-1">
                    <li><a>hello1</a></li>
                    <li><a>hello2</a></li>
                </ul>
            </li>
            <li></li>
        </ul>
    </div>
</nav>
